{% load staticfiles %}
<a class="card-player card-player--{{ type }} {{ player.get_card_colour }}" href="{{ player.get_absolute_url }}">
    <div class="card-player__header">
        <h2 class="card-player__heading">{{ player.card_name }}</h2>
        <span class="card-player__rating">{{ player.overall_rating }}</span>
        <span class="card-player__position">{{ player.position }}</span>
    </div>
    <div class="card-player__images">
        <div class="card-player__affiliation">
            <img class="card-player__image-club" alt="" src="{% static 'build/../../../static/img/club/' %}{{ player.club.asset_id }}.png">
            <img class="card-player__image-nation" alt="" src="{% static 'build/../../../static/img/nation/' %}{{ player.nation.asset_id }}.png">
        </div>
        <img class="card-player__image-player" alt="" src="{% static 'build/../../../static/img/player/' %}{{ player.asset_id }}.png">
    </div>
    <div class="card-player__attributes">
        <div class="card-player__stats-strap"></div>
        <div class="card-player__stats">
            <div class="card-player__stats-left">
                <div class="stat-item">
                    <strong class="stat">{{ player.card_att1 }}</strong>
                    <span class="label">{{ player.label_abbr_card_att1 }}</span>
                </div>
                <div class="stat-item">
                    <strong class="stat">{{ player.card_att2 }}</strong>
                    <span class="label">{{ player.label_abbr_card_att2 }}</span>
                </div>
                <div class="stat-item">
                    <strong class="stat">{{ player.card_att3 }}</strong>
                    <span class="label">{{ player.label_abbr_card_att3 }}</span>
                </div>
            </div>
            <div class="card-player__stats-right">
                <div class="stat-item">
                    <strong class="stat">{{ player.card_att4 }}</strong>
                    <span class="label">{{ player.label_abbr_card_att4 }}</span>
                </div>
                <div class="stat-item">
                    <strong class="stat">{{ player.card_att5 }}</strong>
                    <span class="label">{{ player.label_abbr_card_att5 }}</span>
                </div>
                <div class="stat-item">
                    <strong class="stat">{{ player.card_att6 }}</strong>
                    <span class="label">{{ player.label_abbr_card_att6 }}</span>
                </div>
            </div>
        </div>
    </div>
</a>
