{% for star in active %}
	<i class="fa fa-star star--active"></i>
{% endfor %}
{% for star in inactive %}
	<i class="fa fa-star"></i>
{% endfor %}

{#{% for star in active %}#}
{#    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 216 146" enable-background="new 0 0 216 146" xml:space="preserve" fill="#f8cc32" stroke="#000" stroke-width="10">#}
{#        <g transform="scale(1.1 1.1)">#}
{#	        <path d="M175.785,58.457c0-2.01-1.52-3.259-4.564-3.748l-40.897-5.947l-18.331-37.07c-1.031-2.227-2.363-3.34-3.992-3.34#}
{#		s-2.96,1.113-3.992,3.34l-18.332,37.07l-40.899,5.947c-3.041,0.489-4.562,1.738-4.562,3.748c0,1.141,0.679,2.445,2.037,3.911#}
{#		l29.656,28.841l-7.006,40.736c-0.109,0.761-0.163,1.305-0.163,1.63c0,1.141,0.285,2.104,0.855,2.893#}
{#		c0.57,0.788,1.425,1.181,2.566,1.181c0.978,0,2.064-0.324,3.259-0.977L108,117.443l36.583,19.229#}
{#		c1.142,0.652,2.228,0.977,3.258,0.977c1.089,0,1.916-0.392,2.486-1.181c0.569-0.788,0.854-1.752,0.854-2.893#}
{#		c0-0.706-0.027-1.249-0.082-1.63l-7.007-40.736l29.574-28.841C175.08,60.956,175.785,59.652,175.785,58.457z"/>#}
{#        </g>#}
{#    </svg>#}
{#{% endfor %}#}
{#{% for star in inactive %}#}
{#    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 216 146" enable-background="new 0 0 216 146" xml:space="preserve" fill="#000" stroke="#000" stroke-width="10">#}
{#        <g transform="scale(1.1 1.1)">#}
{#	        <path d="M175.785,58.457c0-2.01-1.52-3.259-4.564-3.748l-40.897-5.947l-18.331-37.07c-1.031-2.227-2.363-3.34-3.992-3.34#}
{#		s-2.96,1.113-3.992,3.34l-18.332,37.07l-40.899,5.947c-3.041,0.489-4.562,1.738-4.562,3.748c0,1.141,0.679,2.445,2.037,3.911#}
{#		l29.656,28.841l-7.006,40.736c-0.109,0.761-0.163,1.305-0.163,1.63c0,1.141,0.285,2.104,0.855,2.893#}
{#		c0.57,0.788,1.425,1.181,2.566,1.181c0.978,0,2.064-0.324,3.259-0.977L108,117.443l36.583,19.229#}
{#		c1.142,0.652,2.228,0.977,3.258,0.977c1.089,0,1.916-0.392,2.486-1.181c0.569-0.788,0.854-1.752,0.854-2.893#}
{#		c0-0.706-0.027-1.249-0.082-1.63l-7.007-40.736l29.574-28.841C175.08,60.956,175.785,59.652,175.785,58.457z"/>#}
{#        </g>#}
{#    </svg>#}
{#{% endfor %}#}
