{% if qs.paginator.num_pages > 1 %}
    <div class="pagination-centered">
        <ul class="pagination">
            {% if qs.has_previous %}
                <li class="arrow"><a href="?page={{ qs.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for page in qs.paginator.page_range %}
                {% if forloop.first %}
                    <li {% if forloop.counter == qs.number %}class="current"{% endif %}><a href="?page={{ page }}">{{ page }}
                {% elif forloop.last %}
                    <li {% if forloop.counter == qs.number %}class="current"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                {% elif forloop.counter == qs.number %}
                    <li class="current"><a href="?page={{ page }}">{{ qs.number }}</a></li>
                {% elif forloop.counter == qs.number|add:"-1" %}
                    {% if forloop.counter == 2 %}
                    {% else %}
                        <li class="unavailable"><a href="">&hellip;</a></li>
                    {% endif %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% elif forloop.counter == qs.number|add:"1" %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% if qs.paginator.num_pages == qs.number|add:"2" %}
                    {% else %}
                        <li class="unavailable"><a href="">&hellip;</a></li>
                    {% endif %}
                {% elif forloop.counter < qs.number or forloop.counter > qs.number %}
                {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if qs.has_next %}
                <li class="arrow"><a href="?page={{ qs.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
