{% extends 'base.html' %}

{% block primary_content %}
    <div class="row">
        <div class="medium-24 columns">
            <ul>
                {% for object in object_list %}
                    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
	    </span>
    </div>
{% endblock primary_content %}
