{% extends 'base.html' %}
{% load players %}

{% block body_class %}page--player{% endblock body_class %}

{% block primary_content %}
    <section class="section">
        <div class="row">
            <div class="medium-6 columns">
                {% include 'players/includes/player-card.html' with player=player big=False %}
            </div>
            <div class="medium-18 columns">
                <h1>{{ player.first_name }} {{ player.last_name }}</h1>
                <h4>{{ player.common_name }}</h4>
                <h2>{{ player.player_type }}</h2>
                <div class="row">
                    <div class="medium-layout-2">
                        <ul class="layout__item list">
                            <li class="list__item">
                                Overall <span>{{ player.overall_rating }}</span>
                            </li>
                            <li class="list__item">
                                Club <span><a href="{{ player.club.get_absolute_url }}">{{ player.club.name_abbr }}</a></span>
                            </li>
                            <li class="list__item">
                                League <span>{{ player.league.name }}</span>
                            </li>
                            <li class="list__item">
                                Nation <span>{{ player.nation.name_abbr }}</span>
                            </li>
                        </ul>
                        <ul class="layout__item list">
                            <li class="list__item">
                                Position <span>{{ player.position }}</span>
                            </li>
                            <li class="list__item">
                                Age <span>{{ player.age }}</span>
                            </li>
                            <li class="list__item">
                                Height <span>{{ player.height }}</span>
                            </li>
                            <li class="list__item">
                                Weight <span>{{ player.weight }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="medium-layout-3">
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">
                        {{ player.label_card_att1 }} <span class="{% stat_color player.card_att1 %}">{{ player.card_att1 }}</span>
                        <svg class="bar bar--progress">
                            <rect class="progress {% stat_color player.card_att1 %}" height="100%" width="{{ player.card_att1 }}%"></rect>
                        </svg>
                    </li>
                    <li class="list__item">
                        Acceleration <span class="{% stat_color player.acceleration %}">{{ player.acceleration }}</span>
                    </li>
                    <li class="list__item">
                        Sprint Speed <span class="{% stat_color player.sprint_speed %}">{{ player.sprint_speed }}</span>
                    </li>
                </ul>
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">
                        {{ player.label_card_att2 }} <span class="{% stat_color player.card_att2 %}">{{ player.card_att2 }}</span>
                        <svg class="bar bar--progress">
                            <rect class="progress {% stat_color player.card_att2 %}" height="100%" width="{{ player.card_att2 }}%"></rect>
                        </svg>
                    </li>
                    <li class="list__item">
                        Agility <span class="{% stat_color player.agility %}">{{ player.agility }}</span>
                    </li>
                    <li class="list__item">
                        Balance <span class="{% stat_color player.balance %}">{{ player.balance }}</span>
                    </li>
                    <li class="list__item">
                        Ball Control <span class="{% stat_color player.ball_control %}">{{ player.ball_control }}</span>
                    </li>
                    <li class="list__item">
                        Dribbling <span class="{% stat_color player.dribbling %}">{{ player.dribbling }}</span>
                    </li>
                    <li class="list__item">
                        Reactions <span class="{% stat_color player.reactions %}">{{ player.reactions }}</span>
                    </li>
                </ul>
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">
                        {{ player.label_card_att3 }} <span class="{% stat_color player.card_att3 %}">{{ player.card_att3 }}</span>
                        <svg class="bar bar--progress">
                            <rect class="progress {% stat_color player.card_att3 %}" height="100%" width="{{ player.card_att3 }}%"></rect>
                        </svg>
                    </li>
                    <li class="list__item">
                        Finishing <span class="{% stat_color player.finishing %}">{{ player.finishing }}</span>
                    </li>
                    <li class="list__item">
                        Long Shots <span class="{% stat_color player.long_shots %}">{{ player.long_shots }}</span>
                    </li>
                    <li class="list__item">
                        Penalties <span class="{% stat_color player.penalties %}">{{ player.penalties }}</span>
                    </li>
                    <li class="list__item">
                        Positioning <span class="{% stat_color player.positioning %}">{{ player.positioning }}</span>
                    </li>
                    <li class="list__item">
                        Shot Power <span class="{% stat_color player.shot_power %}">{{ player.shot_power }}</span>
                    </li>
                    <li class="list__item">
                        Volleys <span class="{% stat_color player.volleys %}">{{ player.volleys }}</span>
                    </li>
                </ul>
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">
                        {{ player.label_card_att4 }} <span class="{% stat_color player.card_att4 %}">{{ player.card_att4 }}</span>
                        <svg class="bar bar--progress">
                            <rect class="progress {% stat_color player.card_att4 %}" height="100%" width="{{ player.card_att4 }}%"></rect>
                        </svg>
                    </li>
                    <li class="list__item">
                        Heading Accuracy <span class="{% stat_color player.heading_accuracy %}">{{ player.heading_accuracy }}</span>
                    </li>
                    <li class="list__item">
                        Interceptions <span class="{% stat_color player.interceptions %}">{{ player.interceptions }}</span>
                    </li>
                    <li class="list__item">
                        Marking <span class="{% stat_color player.marking %}">{{ player.marking }}</span>
                    </li>
                    <li class="list__item">
                        Sliding Tackle <span class="{% stat_color player.sliding_tackle %}">{{ player.sliding_tackle }}</span>
                    </li>
                    <li class="list__item">
                        Standing Tackle <span class="{% stat_color player.standing_tackle %}">{{ player.standing_tackle }}</span>
                    </li>
                </ul>
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">
                        {{ player.label_card_att5 }} <span class="{% stat_color player.card_att5 %}">{{ player.card_att5 }}</span>
                        <svg class="bar bar--progress">
                            <rect class="progress {% stat_color player.card_att5 %}" height="100%" width="{{ player.card_att5 }}%"></rect>
                        </svg>
                    </li>
                    <li class="list__item">
                        Crossing <span class="{% stat_color player.crossing %}">{{ player.crossing }}</span>
                    </li>
                    <li class="list__item">
                        Curve <span class="{% stat_color player.curve %}">{{ player.curve }}</span>
                    </li>
                    <li class="list__item">
                        Free Kick Accuracy <span class="{% stat_color player.free_kick_accuracy %}">{{ player.free_kick_accuracy }}</span></li>
                    <li class="list__item">
                        Long Passing <span class="{% stat_color player.long_passing %}">{{ player.long_passing }}</span>
                    </li>
                    <li class="list__item">
                        Short Passing <span class="{% stat_color player.short_passing %}">{{ player.short_passing }}</span>
                    </li>
                    <li class="list__item">
                        Vision <span class="{% stat_color player.vision %}">{{ player.vision }}</span>
                    </li>
                </ul>
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">
                        {{ player.label_card_att6 }} <span class="{% stat_color player.card_att6 %}">{{ player.card_att6 }}</span>
                        <svg class="bar bar--progress">
                            <rect class="progress {% stat_color player.card_att6 %}" height="100%" width="{{ player.card_att6 }}%"></rect>
                        </svg>
                    </li>
                    <li class="list__item">
                        Aggression <span class="{% stat_color player.aggression %}">{{ player.aggression }}</span>
                    </li>
                    <li class="list__item">
                        Jumping <span class="{% stat_color player.jumping %}">{{ player.jumping }}</span>
                    </li>
                    <li class="list__item">
                        Stamina <span class="{% stat_color player.stamina %}">{{ player.stamina }}</span>
                    </li>
                    <li class="list__item">
                        Strength <span class="{% stat_color player.strength %}">{{ player.strength }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="medium-layout-3">
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">Traits</li>
                    {% traits player.traits as traits %}
                    {% for trait in traits %}
                        <li class="list__item">{{ trait }}</li>
                    {% endfor %}
                </ul>
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">Specialities</li>
                    {% specialities player.specialities as specialities %}
                    {% for specialality in specialities %}
                        <li class="list__item">{{ specialality }}</li>
                    {% endfor %}
                </ul>
                <ul class="layout__item list">
                    <li class="list__item list__item--heading">Characteristics</li>
                    <li class="list__item">
                        Foot <span>{{ player.preferred_foot }}</span>
                    </li>
                    <li class="list__item">
                        Attacking Workrate <span>{{ player.workrate_att }}</span>
                    </li>
                    <li class="list__item">
                        Defensive Workrate <span>{{ player.workrate_def }}</span>
                    </li>
                    <li class="list__item">
                        Weak Foot <span>{% stars player.weak_foot %}</span>
                    </li>
                    <li class="list__item">
                        Skill Moves <span>{% stars player.skill_moves %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock primary_content %}
