{% extends 'base.html' %}

{% block primary_content %}
    <div class="row">
        <div class="medium-6 columns">
            <form class="form" action="{% url 'players:player_list' %}" method="get">
                <div class="form__field-wrapper">
                    <label class="form__label">Overall Rating</label>
                    <div class="controls controls--form">{{ form.rating_min }} - {{ form.rating_max }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.rating_min.value }}</span>
                        <span class="seperator">to</span>
                        <span class="form__selected-value">{{ form.rating_max.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Player type</label>
                    <div class="controls controls--form">{{ form.player_type }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.player_type.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Skill moves</label>
                    <div class="controls controls--form">{{ form.skill_min }} - {{ form.skill_max }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.skill_min.value }}</span>
                        <span class="seperator">to</span>
                        <span class="form__selected-value">{{ form.skill_max.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Weak foot</label>
                    <div class="controls controls--form">{{ form.weak_min }} - {{ form.weak_max }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.weak_min.value }}</span>
                        <span class="seperator">to</span>
                        <span class="form__selected-value">{{ form.weak_max.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Defensive workrate</label>
                    <div class="controls controls--form">{{ form.workrate_def }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.workrate_def.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Attacking workrate</label>
                    <div class="controls controls--form">{{ form.workrate_att }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.workrate_att.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Preferred foot</label>
                    <div class="controls controls--form">{{ form.preferred_foot }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.preferred_foot.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Prices</label>
                    <div class="controls controls--form">
                        {{ form.prices_platform }} {{ form.prices_min }} - {{ form.prices_max }}
                    </div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.prices_platform.value }}</span><span class="seperator">-</span><span class="form__selected-value">{{ form.prices_min.value }}</span><span class="seperator">to</span><span class="form__selected-value">{{ form.prices_max.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Positions</label>
                    <div class="controls controls--form">{{ form.positions }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.positions.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Clubs</label>
                    <div class="controls controls--form">{{ form.clubs }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.clubs.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Leagues</label>
                    <div class="controls controls--form">{{ form.leagues }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.leagues.value }}</span>
                    </div>
                </div>

                <div class="form__field-wrapper">
                    <label class="form__label">Nations</label>
                    <div class="controls controls--form">{{ form.nations }}</div>
                    <div class="form__selected-values">
                        <span class="form__selected-value">{{ form.nations.value }}</span>
                    </div>
                </div>

                <input class="button" type="submit">
            </form>
        </div>
        <div class="medium-18 columns">
            <div class="row">
                <div class="medium-layout-4">
                    {% for object in object_list %}
                        <div class="layout__item">
                            {% include 'players/includes/player-card.html' with player=object type='small' %}
                        </div>
                    {% empty %}
                        No objects brah
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock primary_content %}
