/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color-primary: #607d8b;
$color-primary-dark: #455a64;
$color-primary-light: #cfd8dc;
$color-primary-text: #eceff1;

$color-text: #212121;
$color-text-secondary: #727272;
$color-border-dark: #263238;
$color-border-light: #b6b6b6;

$color-accent: #8bc34a;

$color-great: #54a619; // 81 +
$color-good: #90bf39; // 71 - 80
$color-average: #f2b600; // 61 - 70
$color-fair: #fda30d; // 51 - 60
$color-poor: #bf3030; // 1 - 50





/* Globals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Box shadow
$box-shadow-global-bottom: 0 2px 5px rgba(0,0,0,0.46);





/* Scaffolding
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Top bar
$top-bar-height: 60px;

// Top strap
$top-strap-height: 47px;
