{% extends 'base.html' %}
{% load pagination %}

{% block primary_content %}
    <section class="section">
        <div class="row">
            <div class="medium-6 columns">
                Medium-6 to do stuff with here..
            </div>
            <div class="medium-18 columns">
                <h1>{{ club.name_abbr }}</h1>
                <h4>{{ club.name }}</h4>
                <h2>{{ club.league.name }}</h2>
                <div class="row">
                    <div class="medium-layout-2">
                        <ul class="layout__item list">
                            <li class="list__item">
                                Player count <span>{{ club.players_count }}</span>
                            </li>
                            <li class="list__item">
                                Inform <span>{{ club.players_inform }}</span>
                            </li>
                            <li class="list__item">
                                Gold <span>{{ club.players_gold }}</span>
                            </li>
                            <li class="list__item">
                                Silver <span>{{ club.players_silver }}</span>
                            </li>
                            <li class="list__item">
                                Bronze <span>{{ club.players_bronze }}</span>
                            </li>
                        </ul>
                        <ul class="layout__item list">
                            <li class="list__item">
                                Average rating <span>{{ club.players_average_rating }}</span>
                            </li>
                            <li class="list__item">
                                Attackers <span>{{ club.players_att }}</span>
                            </li>
                            <li class="list__item">
                                Midfielders <span>{{ club.players_mid }}</span>
                            </li>
                            <li class="list__item">
                                Defenders <span>{{ club.players_def }}</span>
                            </li>
                            <li class="list__item">
                                Goalkeepers <span>{{ club.players_gk }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="medium-layout-4">
                {% for player in players %}
                    <div class="layout__item">
                        {% include 'players/includes/player-card.html' with player=player big=False %}
                    </div>
                {% empty %}
                    No objects brah
                {% endfor %}
            </div>

            {% detail_pagination players %}

        </div>
    </section>
{% endblock primary_content %}
