{% extends 'base.html' %}
{% load pagination %}

{% block primary_content %}
    <div class="row">
        <div class="medium-24 columns">
            <ul>
                {% for object in object_list %}
                    <li><a href="{{ object.get_absolute_url }}">{{ object }} - {{ object.players_count }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% list_pagination %}
{% endblock primary_content %}
