.bar {
    height: 8px;

    &.bar--progress {
        .progress {
            transform: skew(-45deg);
        }
    }
}

.bar--progress {
    height: 12px;
    padding: 2px;

    background: rgba(0, 0, 0, 0.2);

    .progress {
        &.color--great   { fill: $color-great;   }
        &.color--good    { fill: $color-good;    }
        &.color--average { fill: $color-average; }
        &.color--fair    { fill: $color-fair;    }
        &.color--poor    { fill: $color-poor;    }
    }
}
