.page--player {
    .list__item {
        span {
            float: right;

            font-weight: 600;

            &.color--great   { color: $color-great;   }
            &.color--good    { color: $color-good;    }
            &.color--average { color: $color-average; }
            &.color--fair    { color: $color-fair;    }
            &.color--poor    { color: $color-poor;    }
        }
        .bar {
            width: 100%;
        }
    }
}
