{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
        <meta name="robots" content="{% block meta_robots %}{% endblock meta_robots %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Styles -->
        <link href="{% static 'css/screen.css' %}" rel="stylesheet" type="text/css">

        <title>{% block title %}{% endblock title %}</title>

        {% block extra_styles %}{% endblock %}
        {% block head_js %}{% endblock %}

        <link rel="shortcut icon" href="/static/img/favicon.png" />
        <link rel="apple-touch-icon" href="/static/img/homescreen.png">

        <script src="//use.typekit.net/ajz1shi.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body class="{% block body_class %}{% endblock body_class %}">
        {% block top_bar %}
            <div class="top-bar">
                <div class="row">
                    <div class="medium-3 columns text-center">
                        <a class="top-bar__logo" href="#">
                            Logo
                        </a>
                    </div>
                    <div class="medium-21 columns">
                        <nav class="pull-left">
                            <ul class="nav nav--inline">
                                <li class="nav__item">
                                    <a class="nav__item-link" href="{% url 'players:player_list' %}">Players</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__item-link" href="{% url 'squads:squad_builder' %}">Squad Builder</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__item-link" href="{% url 'squads:squad_list' %}">Squads</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__item-link" href="{% url 'clubs:club_list' %}">Clubs</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__item-link" href="{% url 'leagues:league_list' %}">Leagues</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__item-link" href="{% url 'nations:nation_list' %}">Nations</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__item-link" href="#">News</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__item-link" href="#">Community</a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="pull-right">
                            <ul class="nav nav--inline">
                                {% if user.is_authenticated %}
                                    <li class="nav__item">
                                        <a class="nav__item-link" href="#">{{ user.display_name }}</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__item-link" href="">
                                            <i class="fa fa-user"></i>
                                        </a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__item-link" href="">
                                            <i class="fa fa-users"></i>
                                        </a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__item-link" href="">
                                            <i class="fa fa-calendar"></i>
                                        </a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__item-link" href="{% url 'profiles:logout' %}">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="nav__item">
                                        <a class="nav__item-link" href="{% url 'profiles:login' %}">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        {% endblock top_bar %}
        {% block top_strap %}
            <div class="top-strap">
                <div class="row">
                    <div class="medium-24 columns">

                    </div>
                </div>
            </div>
        {% endblock top_strap %}
        {% block controls_top %}
            <div class="controls controls--top">
                Controls top
            </div>
        {% endblock controls_top %}
        {% block primary_content %}
            g
        {% endblock primary_content %}
        {% block end_js %}{% endblock %}

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
