// PLAYER CARDS
// =============================================================================

// SET THE VARIABLES -----------------------------------------------------------

// Font
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300);
$card-font--family: 'Titillium Web', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Images
$card-background--small-special: url('/static/img/site/cards-small-sprite-special.png');
$card-background--small-standard: url('/static/img/site/cards-small-sprite-standard.png');
$card-background--large-special: url('/static/img/site/cards-large-sprite-special.png');
$card-background--large-standard: url('/static/img/site/cards-large-sprite-standard.png');

// Sizes
$card-size--builder: (height: 190px, width: 125px);
$card-size--small:   (height: 260px, width: 183px);
$card-size--large:   (height: 358px, width: 252px);

// SET THE CARD FOUNDATION -----------------------------------------------------
.card-player {
    // Card background-position is -358px per card i believe
    position: relative;

    display: block;
    margin: 0 auto;

    color: #fff;

    -webkit-font-smoothing: antialiased;
    transition: transform 0.35s;

    &:hover {
        z-index: 100;

        color: #fff;

        transform: scale(1.15);
    }
}

// BUILDER CARD MODIFICATIONS --------------------------------------------------
.card-player--builder {
    height: map-get($card-size--builder, height);
    padding: 10px;
    width: map-get($card-size--builder, width);

    background-repeat: no-repeat;

    &.card-player-toty { background-image: url(/static/img/site/cards/Image-1648.png); }
    &.card-player-legend { background-image: url(/static/img/site/cards/Image-1650.png); }
    &.card-player-totw-gold { background-image: url(/static/img/site/cards/Image-1627.png); }
    &.card-player-rare-gold { background-image: url(/static/img/site/cards/Image-1621.png); }
}

// SMALL CARD MODIFICATIONS ----------------------------------------------------
.card-player--small {
    height: map-get($card-size--small, height);
    padding: 14px 23px 31px;
    width: map-get($card-size--small, width);

    background-image: $card-background--small-standard;

    // Standard cards
    &.card-player-bronze      { background-position: 0 0      ; }
    &.card-player-rare-bronze { background-position: 0 -260px ; }
    &.card-player-silver      { background-position: 0 -1040px; }
    &.card-player-rare-silver { background-position: 0 -520px ; }
    &.card-player-gold        { background-position: 0 -1300px; }
    &.card-player-rare-gold   { background-position: 0 -780px ; }
    &.card-player-legend      { background-position: 0 -1560px; }

    // Special cards
    &.card-player-toty,
    &.card-player-orange,
    &.card-player-totw-bronze,
    &.card-player-totw-silver,
    &.card-player-totw-gold,
    &.card-player-easports {
        background-image: $card-background--small-special;
    }

    &.card-player-toty        { background-position: 0 -1300px; }
    &.card-player-orange      { background-position: 0 -2080px; }
    &.card-player-totw-bronze { background-position: 0 0      ; }
    &.card-player-totw-silver { background-position: 0 -260px ; }
    &.card-player-totw-gold   { background-position: 0 -520px ; }
    &.card-player-easports    { background-position: 0 -1560px; }
}

// LARGE CARD MODIFICATIONS ----------------------------------------------------
.card-player--big {
    height: map-get($card-size--large, height);
    padding: 19px 31px 42px;
    width: map-get($card-size--large, width);

    background-image: url('/static/img/site/cards-large-sprite-standard.png');

    // Standard cards
    &.card-player-bronze      { background-position: 0 0      ; }
    &.card-player-rare-bronze { background-position: 0 -358px ; }
    &.card-player-silver      { background-position: 0 -1432px; }
    &.card-player-rare-silver { background-position: 0 -716px ; }
    &.card-player-gold        { background-position: 0 -1790px; }
    &.card-player-rare-gold   { background-position: 0 -1074px; }
    &.card-player-legend      { background-position: 0 -2148px; }

    // Special cards
    &.card-player-toty,
    &.card-player-orange,
    &.card-player-totw-bronze,
    &.card-player-totw-silver,
    &.card-player-totw-gold,
    &.card-player-easports {
        background-image: url('/static/img/site/cards-large-sprite-special.png');
    }

    &.card-player-toty        { background-position: 0 -1790px; }
    &.card-player-orange      { background-position: 0 -2864px; }
    &.card-player-totw-bronze { background-position: 0 0      ; }
    &.card-player-totw-silver { background-position: 0 -358px ; }
    &.card-player-totw-gold   { background-position: 0 -716px ; }
    &.card-player-easports    { background-position: 0 -2148px; }
}

// Different cards have different colour and text-shadows for the text
.card-player__heading,
.card-player__rating,
.card-player__position,
.stat-item {
    line-height: 1;
    font-family: $card-font--family;
    text-shadow: 0 1px 1px rgba(24, 24, 24, 0.36);

    .card-player-bronze &,
    .card-player-silver &,
    .card-player-gold & {
        color: #282828;
    }

    .card-player-totw-gold & { color: #dfb334; }
    .card-player-easports & { color: #c5a692; }
    .card-player-legend & { color: #9e7f00; }

    .card-player-bronze & {
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
    }

    .card-player-silver &,
    .card-player-gold & {
        text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    }

    .card-player-totw-bronze &,
    .card-player-totw-silver &,
    .card-player-legend & {
        text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    }
}

// PLAYER CARDS LAYOUT
// =============================================================================
// Card header
.card-player__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    white-space: nowrap;
}
.card-player__heading {
    align-self: flex-start;
    flex: 1 100%;

    margin-bottom: 0;

    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
}
.card-player__rating,
.card-player__position {
    display: inline-block;
}
.card-player__rating {
    text-align: right;
}

// Images
.card-player__images {
    position: relative;
}
.card-player__affiliation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 44%;
}
.card-player__image-player {
    position: absolute;
}

// Statistics
.card-player__stats {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

// BUILDER PLAYER CARDS LAYOUT
// =============================================================================
.card-player--builder {
    // Card header
    .card-player__header {
        margin-bottom: 5px;
    }
    .card-player__heading {
        font-size: 16px;
    }
    .card-player__rating {
        margin-right: 5px;

        font-size: 20px;
        font-weight: 600;
    }
    .card-player__position {
        align-self: flex-end;

        margin-bottom: 1px;

        font-size: 14px;
    }

    // Images
    .card-player__images {
        height: 53px;
    }
    .card-player__affiliation {
        align-items: flex-start;

        width: 40%;
    }
    .card-player__image-club {
        height: 30px;
        width: 30px;
    }
    .card-player__image-nation {
        height: 20px;
        width: 32px;
    }
    .card-player__image-player {
        right: -6px;
        bottom: 0;

        height: 70px;
        width: 70px;
    }

    // Statistics
    .card-player__stats-strap {
        // We set a height on this because sometimes it is empty and we rely
        // on the height to position the 6 stats below
        height: 18px;
        margin-bottom: 2px;
    }
    .card-player__stats .stat-item {
        font-size: 14px;
        line-height: 16px;
    }
    .card-player__stats-left,
    .card-player__stats-right {
        padding: 0 3px;
    }
}

// SMALL PLAYER CARDS LAYOUT
// =============================================================================
// LAYOUT THE CARD CONTENT -----------------------------------------------------
.card-player--small {
    // Card header
    .card-player__heading {
        margin-bottom: 2px;
        padding-top: 2px;

        font-size: 18px;
    }
    .card-player__rating {
        margin-right: 12px;
        padding-top: 3px;
        padding-left: 4px;

        font-size: 22px;
    }
    .card-player__position {
        padding-top: 4px;

        font-size: 16px;
    }

    // Images
    .card-player__images {
        height: 78px;
    }
    .card-player__image-club {
        height: 31px;
        margin-bottom: 4px;
        width: 31px;
    }
    .card-player__image-nation {
        height: 23px;
        width: 37px;
    }
    .card-player__image-player {
        right: -11px;
        bottom: 0;

        height: 92px;
        width: 92px;
    }

    // Statistics
    .card-player__stats-strap {
        // We set a height on this because sometimes it is empty and we rely
        // on the height to position the 6 stats below
        height: 25px;
    }
    .card-player__stats .stat-item {
        line-height: 24px;

        &:last-child {
            line-height: 20px;
        }
    }
    .stat-item span {
        font-weight: 400;
    }

    .card-player__stats-left,
    .card-player__stats-right {
        padding: 0 5px;
    }
}
