.form__field-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    height: 40px;
    margin-bottom: 10px;

    border-bottom: 2px solid #ececec;
    cursor: pointer;

    transition: border 0.35s;
}
.form__field-wrapper.active {
    border-bottom: 2px solid $color-accent;

    .controls--form {
        display: block;
    }
}
.form__field-wrapper .controls--form {
    display: none;
    position: absolute;
    left: 100%;

    select,
    input {
        height: 24px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        border: none;
    }

    input {
        width: 50px;
    }
}

.form__field-label {
    margin-right: 10px;
}

.form__selected-value {
    text-transform: capitalize;
}
