.nav {
    @include clearfix;
}
.nav--inline {
    list-style: none;
}
.nav--inline .nav__item {
    float: left;

    margin-bottom: 0;
}
.nav__item-link {
    display: block;
}





/* Layout specifics
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$nav__item-height: $base-font-size * $base-line-height;
.top-bar .nav__item-link {
    padding: ($top-bar-height - $nav__item-height) / 2 10px;
}
