.builder {
    position: relative;

    height: 750px;
    margin: 0 auto;
    width: 945px;

    background-image: url(http://www.futwiz.com/assets/img/fifa15/builder/15-pitch.jpg);
    background-repeat: no-repeat;

    .card-player {
        position: absolute;

        transition: all 0.35s;
    }
}

.formation-3412,
.formation-3421,
.formation-343,
.formation-352,
.formation-41212-1,
.formation-41212-2,
.formation-4141,
.formation-4231-1,
.formation-4231-2,
.formation-4222,
.formation-4312,
.formation-4321,
.formation-433-1,
.formation-433-2,
.formation-433-3,
.formation-433-4,
.formation-433-5,
.formation-4411,
.formation-442-1,
.formation-442-2,
.formation-451-1,
.formation-451-2,
.formation-5212,
.formation-5221,
.formation-532 {
    .card-player:nth-child(1) {
        bottom: 25px;
        left: 50%;

        transform: translateX(-50%);
    }
}

.formation-3412,
.formation-3421,
.formation-343,
.formation-352 {
    .card-player:nth-child(2),
    .card-player:nth-child(3),
    .card-player:nth-child(4) {
        bottom: 225px;
    }

    .card-player:nth-child(2) {
        right: 22%;
        transform: translateX(50%);
    }

    .card-player:nth-child(3) {
        right: 50%;
        transform: translateX(50%);
    }

    .card-player:nth-child(4) {
        right: 78%;
        transform: translateX(50%);
    }
}

.formation-3412,
.formation-3421,
.formation-343 {

    .card-player:nth-child(5),
    .card-player:nth-child(8) {
        bottom: 375px;
    }

    .card-player:nth-child(6),
    .card-player:nth-child(7) {
        bottom: 325px;
    }

    .card-player:nth-child(5) {
        right: 25px;
    }

    .card-player:nth-child(6) {
        right: 29%;
    }

    .card-player:nth-child(7) {
        left: 29%;
    }

    .card-player:nth-child(8) {
        left: 25px;
    }
}
.formation-3421,
.formation-343 {
    .card-player:nth-child(9),
    .card-player:nth-child(10) {
        top: 30px;
    }

    .card-player:nth-child(11) {
        right: 50%;

        transform: translateX(50%);
    }
}

// 3412 ------------------------------------------------------------------------
.formation-3412 {
    .card-player:nth-child(9) {
        bottom: 450px;
        left: 50%;

        transform: translateX(-50%);
    }

    .card-player:nth-child(10) {
        right: 29%;
    }

    .card-player:nth-child(11) {
        left: 29%;
    }
}

// 3421 ------------------------------------------------------------------------
.formation-3421 {
    .card-player:nth-child(9),
    .card-player:nth-child(10) {
        top: 40px;
    }

    .card-player:nth-child(9) {
        right: 25%;
    }

    .card-player:nth-child(10) {
        left: 25%;
    }
}

// 343 -------------------------------------------------------------------------
.formation-343 {
    .card-player:nth-child(9) {
        right: 18%;
    }

    .card-player:nth-child(10) {
        left: 18%;
    }
}
