.top-bar {
    position: relative;

    background: $color-primary;
    border-bottom: 1px solid $color-border-dark;
    color: $color-primary-text;

    @include form-inputs {
        margin-top: ($top-bar-height - $input-height) / 2;
        margin-bottom: ($top-bar-height - $input-height) / 2;
    }

    @include clearfix;

    a {
        color: $color-primary-text;
    }
}
.top-bar__logo {
    display: block;
    height: $top-bar-height;

    background-color: #fff;
}
.top-bar .nav {
    margin: 0;
}
